<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/Layout.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Layout_items.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Layout_history.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/Layout_statistics.css" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="~/css/ListProducts.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="menu-col">
            <div class="top">
                <img src="~/img/logo.svg" class="img" alt="Alternate Text" />
            </div>
            <div class="middle">
                <div class="middle-block">
                    <div class="center">
                        @using (Html.BeginForm("Items", "Home", FormMethod.Get, new { @class = "login-form" }))
                        {
                            <button class="menu-button">
                                <img src="~/img/format-list-bulleted.svg" class="img" alt="Alternate Text" />
                            </button>
                        }
                    </div>

                    <div class="center">
                        @using (Html.BeginForm("Statistics", "Home", FormMethod.Get, new { @class = "login-form" }))
                        {
                            <button class="menu-button">
                                <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                            </button>
                        }
                    </div>
                    <div class="center">
                        @using (Html.BeginForm("History", "Home", FormMethod.Get, new { @class = "login-form" }))
                        {
                            <button class="menu-button">
                                <img src="~/img/chart-box-outline.svg" />
                            </button>
                        }
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="img-rounded">
                    <img src="~/img/cart-outline.svg" class="img" alt="Alternate Text" />
                </div>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>
        <div class="side-content">
            @{Html.RenderPartial("ListProducts");}
        </div>
    </div>
</body>
</html>