<namespaces>
    <add namespace="System.Web.Mvc" />
    <add namespace="System.Web.Mvc.Ajax" />
    <add namespace="System.Web.Mvc.Html" />
    <add namespace="System.Web.Routing" />
    <add namespace="System.Linq" />
    <add namespace="System.Collections.Generic" />
</namespaces>

<div class="list-products">
    <div class="header">
        <div class="add-product">
            <img src="~/img/source.svg" alt="Bottle of wine" class="header-img" />
            <div class="header-text">
                <h3>Didn’t find what you need?</h3>
                <button type="submit" href="" class="header-button">
                    <h3>Add item</h3>
                </button>
            </div>
        </div>
    </div>
    <div class="list-content">
        <h2 class="title">Shopping list</h2>
        <div class="category">
            <h4 class="sub-title">Fruit and vegetables</h4>
            <div class="item">
                <h4>Acocado</h4>
                <div>ola</div>
            </div>
            <div class="item">
                <h4>Acocado</h4>
                <div>ola</div>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <div class="input-search">
            <input type="text" class="input" value="Enter a name" />
            <button type="submit" class="input-button">
                <h3>Save</h3>
            </button>
        </div>
    </div>
</div>