@{
    ViewData["Title"] = "Items";
}

<div class="h-100 w-100" style="background-color: #FAFAFE; font-family: Quicksand;">
    <div class="container mt-4">
        <div class="row font-weight-bolder  m-auto h5">
            Fruit and Vegetable
        </div>
        <div class="row">

        </div>

        <div class="row font-weight-bolder  m-auto h5">
            Meat and Fish
        </div>
    </div>
</div>
