@{
    ViewData["Title"] = "History";
}
<head>
    <link href="~/css/Historic.css" rel="stylesheet"  asp-append-version="true"/>
</head>
<div class="body-historic">
    <div class="historic">
        <div class="historic-header">
            <h3 class="historic-title">Shopping history</h3>
        </div>
        <div class="historic-body-content">
            <h3 class="historic-title2">August 2020</h3>
            <div class="historic-item">
                <div class="historic-title3">
                    <h3>Shopping history</h3>
                </div>
                <div class="historic-item-content">
                    <div class="historic-calender">
                        <img src="~/img/chart-box-outline.svg" alt="Alternate Text" />
                        <p class="historic-title4">Mon 24.8.2020</p>
                    </div>
                    <div class="historic-item-button">
                        <button class="historic-button"> Completed</button>
                        <img src="~/img/format-list-bulleted.svg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="historic-item">
                <div class="historic-title3">
                    <h3>Shopping history</h3>
                </div>
                <div class="historic-item-content">
                    <div class="historic-calender">
                        <img src="~/img/chart-box-outline.svg" alt="Alternate Text" />
                        <p class="historic-title4">Mon 24.8.2020</p>
                    </div>
                    <div class="historic-item-button">
                        <button class="historic-button"> Completed</button>
                        <img src="~/img/format-list-bulleted.svg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="historic-item">
                <div class="historic-title3">
                    <h3>Shopping history</h3>
                </div>
                <div class="historic-item-content">
                    <div class="historic-calender">
                        <img src="~/img/chart-box-outline.svg" alt="Alternate Text" />
                        <p class="historic-title4">Mon 24.8.2020</p>
                    </div>
                    <div class="historic-item-button">
                        <button class="historic-button"> Completed</button>
                        <img src="~/img/format-list-bulleted.svg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div> 
        <div class="historic-body-content">
            <h3 class="historic-title2">August 2020</h3>
            <div class="historic-item">
                <div class="historic-title3">
                    <h3>Shopping history</h3>
                </div>
                <div class="historic-item-content">
                    <div class="historic-calender">
                        <img src="~/img/chart-box-outline.svg" alt="Alternate Text" />
                        <p class="historic-title4">Mon 24.8.2020</p>
                    </div>
                    <div class="historic-item-button">
                        <button class="historic-button"> Completed</button>
                        <img src="~/img/format-list-bulleted.svg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
            <div class="historic-item">
                <div class="historic-title3">
                    <h3>Shopping history</h3>
                </div>
                <div class="historic-item-content">
                    <div class="historic-calender">
                        <img src="~/img/chart-box-outline.svg" alt="Alternate Text" />
                        <p class="historic-title4">Mon 24.8.2020</p>
                    </div>
                    <div class="historic-item-button">
                        <button class="historic-button"> Completed</button>
                        <img src="~/img/format-list-bulleted.svg" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
