<head>
    <link href="~/css/Items.css" rel="stylesheet"  asp-append-version="true" />

</head>
<div class="body-items">
    <div class="items">
        <div class="header-items">
            <h1 class="title-items"><span style="color: #F9A109;">Shoppingify</span> allows you take your shopping list wherever you go</h1>
            <div class="header-search-items">
                <div class="search-items">
                    <button class="search-img">
                        <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                    </button>
                    <input type="text" class="search-input-header"/>
                </div>
            </div>
        </div>
        <div class="items-content">
            <div class="items-title-content">
                <h3>Fruit and vegetables</h3>
            </div>
            <div class="items-content-content">
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">Bunch of carrots 5pcs</h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
            </div>

            <div class="items-title-content">
                <h3>Fruit and vegetables</h3>
            </div>
            <div class="items-content-content">
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
                <div class="items-grid">
                    <div class="information-item">
                        <h3 class="information-name">
                            Acocado
                        </h3>
                        <button class="search-img">
                            <img src="~/img/rotate-left.svg" alt="Alternate Text" />
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>