.body-items {
    height: inherit;
    width: none;
}
.header-items{
    width:100%;
    height:11rem;
    display:flex;
    align-items:center;
}
.items {
    width: 80%;
    height: 80%;
    margin: auto;
}
.title-items {
    width: 50%;
    height: 50%;
    font-family: Quicksand;
}
.header-search-items {
    width: 50%;
    height: 50%;
}
.search-items {
    border-radius: 0.7rem;
    background-color: white;
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    box-shadow: 2px 8px rgba(0, 0, 0, 0.05);
}
.search-img{
    width:2.5vw;
    height:100%;
    border:none;
    border-radius:0.7rem;
    background-color:white;
}
.search-img:hover{
    background-color:lightgray;
}
.search-input-header {
    width: 85%;
    height: 100%;
    border: none;
    border-radius: 0.7rem;
}
.items-content{
    height:100%;
    width:90%;
}
.items-title-content {
    width: 100%;
    height: 3rem;
    font-family: Quicksand;
    color:black;
    display:flex;
    align-items:center;
}
.items-content-content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}
.items-grid {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    font-family: Quicksand;
}
.information-item {
    width: 90%;
    height: 40%;
    border: 2px solid lightgray;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background-color:white;
    box-shadow: -8px -8px rgba(0, 0, 0, 0.05);
}
.information-name{
    margin:auto;
    width:60%;
}
/*===============================================================*/
@media only screen and (max-width: 1400px) {
    .title-items {
        font-size: 1rem;
    }

    .search-items {
        width: 80%;
        height: 50%;
    }
    .items-content {
        height: 100%;
        width: 100%;
    }

    .items-content-content {
        grid-template-columns: 33% 33% 33%;
        width: 100%;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1000px) {
    .title-items {
        font-size: 1rem;
    }
    .search-items {
        width: 100%;
        height: 50%;
    }
    .items-content {
        height: 100%;
        width: 100%;
    }
    .items-content-content {
        grid-template-columns: 33% 33% 33%;
        width: 100%;
        font-size:0.7rem;
    }
}

@media only screen and (max-width: 600px) {
    .title-items {
        font-size: 0.8rem;
    }

    .search-items {
        width: 90%;
        height: 50%;
        margin:auto;
    }
    .search-img{
        width:30%;
    }

    .items-content {
        height: 100%;
        width: 100%;
    }

    .items-content-content {
        grid-template-columns: 50% 50%;
        width: 100%;
        font-size: 0.6rem;
    }
    .items-grid {
        height: 7rem;
    }
}